# IntelliJ IDEA
.idea/
*.iml

# Mac
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# terraform
terraform.tfvars
*.tfvars
*.tfstate
*.tfstate.*
.terraform/
infra/terraform/.terraform.lock.hcl
infra/terraform/.terraform/
infra/terraform/terraform.tfvars