spring:
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
  datasource:
    url: jdbc:mysql://${MYSQL_HOST}:${MYSQL_PORT}/${MYSQL_DATABASE}?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${MYSQL_USERNAME}
    password: ${MYSQL_PASSWORD}

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}

  elasticsearch:
    uris: http://${ELASTICSEARCH_HOST}:${ELASTICSEARCH_PORT}

logging:
  level:
    com.back: INFO                                     # 서비스 흐름만 기록
    org.hibernate.SQL: OFF                             # 운영에서는 SQL 출력 차단 (보안/성능)
    org.hibernate.orm.jdbc.bind: OFF                   # 파라미터 로그 차단
    org.hibernate.orm.jdbc.extract: OFF                # 결과 추출 로그 차단
    org.springframework.transaction.interceptor: INFO  # 필요하면 INFO 수준만